
.container{
 
    background-color: rgb(35, 126, 206);
    
    } 
    .section-footer{
        background-color: rgb(35, 126, 206);

    }
  .section-home{
    background-color: aqua;
  }
  .section-about{
    background-color: beige;
  }
  .section-projects{

    background-color:chocolate;
  }